@use "../../../styles";

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--color-background);
}

.template-one.auth {
  // width: 100%;

  #{&}__box {
    position: relative;
    width: 380px;
    height: 420px;
    background: var(--color-white);
    border-radius: 8px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 380px;
      height: 420px;
      background: linear-gradient(
        0deg,
        transparent,
        transparent,
        var(--primary-color),
        var(--primary-color),
        var(--primary-color)
      );
      z-index: 1;
      transform-origin: bottom right;
      animation: authAnimation 6s linear infinite;
    }
    &::after {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 380px;
      height: 420px;
      background: linear-gradient(
        0deg,
        transparent,
        transparent,
        var(--primary-color),
        var(--primary-color),
        var(--primary-color)
      );
      z-index: 1;
      transform-origin: bottom right;
      animation: authAnimation 6s linear infinite -3s;
    }
    .borderline {
      position: absolute;
      top: 0;
      inset: 0;

      &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(
          0deg,
          transparent,
          transparent,
          var(--color-dark),
          var(--color-dark),
          var(--color-dark)
        );
        z-index: 1;
        transform-origin: bottom right;
        animation: authAnimation 6s linear infinite -1.5s;
      }
      &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(
          0deg,
          transparent,
          transparent,
          var(--color-dark),
          var(--color-dark),
          var(--color-dark)
        );
        z-index: 1;
        transform-origin: bottom right;
        animation: authAnimation 6s linear infinite -4.5s;
      }
    }
    @keyframes authAnimation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .form {
      position: absolute;
      inset: 4px;
      background: var(--color-white);
      padding: var(--card-padding);
      z-index: 2;
      display: flex;
      flex-direction: column;
      border-radius: 8px;

      h2 {
        color: var(--color-dark);
        text-align: center;
        letter-spacing: 0.1rem;
        font-weight: styles.fontWeight("semi-bold");
      }
      &__group {
        .input__box {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 300px;
          margin-top: 35px;

          label {
            position: absolute;
            left: 0;
            padding: 20px 0px 10px;
            margin: -5px 0;
            pointer-events: none;
            color: #8f8f8f;
            font-size: 0.75rem;
            letter-spacing: 0.05rem;
            transition: 0.5s;
          }
          i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: var(--color-dark);
            border-radius: 4px;
            overflow: hidden;
            transition: 0.5s;
            pointer-events: none;
          }
          input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            outline: none;
            border: none;
            box-shadow: none;
            font-size: 1rem;
            color: #1d1c1c;
            letter-spacing: 0.05rem;
            transition: 0.5s;
            z-index: 10;

            &:valid ~ label,
            &:focus ~ label {
              color: #fff;
              font-size: 0.75rem;
              transform: translateY(-34px);
            }

            &:valid ~ i,
            &:focus ~ i {
              height: 44px;
            }
          }
        }
      }
      button[type="submit"] {
        border: none;
        outline: none;
        padding: 9px 25px;
        background: var(--color-dark);
        color: var(--color-white);
        cursor: pointer;
        justify-self: start;
        font-size: 0.9rem;
        border-radius: 4px;
        font-weight: 600;
        width: 100px;
        margin-top: 10px;

        &:active {
          opacity: 0.8;
        }
      }
      &__links {
        position: relative;
        display: flex;
        justify-content: space-between;

        a {
          margin: 10px 0;
          font-size: 0.75rem;
          color: var(--color-secondary);
          text-decoration: none;

          &:hover,
          &:nth-child(2) {
            color: var(--color-dark);
          }
        }
      }
      &__line {
        &::before {
          content: "";
          width: 100px;
          height: 4px;
          background: var(--color-dark);
        }

        &::after {
          content: "";
          width: 100px;
          height: 14px;
          background: red var(--color-dark);
        }
      }
    }
  }
}

.template-two.auth {
  // font-poppins bg-[#08151b]
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #11081b,
    hsl(274, 55%, 15%),
    var(--primary-color),
    var(--color-primary)
  );
  line-height: 1.2rem;

  #{&}__box {
    position: relative;
    width: 100%;
    min-height: 100vh;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    background: transparent;
    border-radius: 4rem;
    box-shadow: var(--box-shadow);

    // @include styles.breakPointsUp(map-get(styles.$screenBreakPoints, "md")) {
    //   padding: 4rem 2% 4.5rem;
    //   min-height: auto;
    // }

    // @include styles.breakPointsUp(
    //   map-get(styles.$screenBreakPoints, "sm")
    // ) {
    display: flex;
    flex-direction: row;
    // }
    &--intro {
      display: flex;
      // flex-direction: column;
      justify-self: center;
      align-items: center;
      z-index: 10;

      @include styles.breakPointsUp(map-get(styles.$screenBreakPoints, "sm")) {
        max-width: 28rem;
      }

      @include styles.breakPointsUp(map-get(styles.$screenBreakPoints, "lg")) {
        padding-inline: 3.5rem;
      }
      @include styles.breakPointsUp(map-get(styles.$screenBreakPoints, "xl")) {
        max-width: 40rem;
      }
      &__content {
        justify-self: start;
        // display: none;

        @include styles.breakPointsUp(
          map-get(styles.$screenBreakPoints, "md")
        ) {
          display: flex;
          flex-direction: column;
          color: styles.$gray-300;
        }
        h1 {
          margin-inline: 3 * styles.$baseMargin;
          font-weight: map-get(styles.$fontWeights, "semibold");
          font-size: map-get(styles.$fontSizes, "4xl");
        }
        p {
          padding-right: 3 * styles.$basePadding;
          font-size: map-get(styles.$fontSizes, "sm");
          opacity: 0.75;
          // font-size: map-get(styles.$fontSizes, "normal");
        }
      }
    }
    &--form {
      display: flex;
      justify-content: center;
      inset: 0;
      color: styles.$gray-800;
      align-items: center;
      justify-self: center;
      z-index: 10;

      &__card {
        padding: 10 * styles.$basePadding;
        background: #fff;
        margin: 0 auto;
        border-radius: var(--card-border-radius);
        width: 24rem;
        box-shadow: var(--box-shadow);
        .logo {
          h3 {
            text-align: center;
            color: styles.$gray-800;
            font-weight: map-get($map: styles.$fontWeights, $key: "bold");
            font-size: map-get($map: styles.$fontSizes, $key: "3xl");
          }
        }

        .form {
          &__input {
            margin-block: 0.8rem;

            label {
              display: block;
              margin: 0;
              font-weight: map-get(
                $map: styles.$fontWeights,
                $key: "semi-bold"
              );
              font-size: map-get($map: styles.$fontSizes, $key: "sm");
              color: styles.$gray-600;
            }
            div {
              display: flex;
              position: relative;

              span {
                display: flex;
                align-items: center;
                justify-content: center;
                color: styles.$gray-700;
                width: 40px;
                border-right: none;
                // padding-inline: 3 * styles.$basePadding;
                background-color: styles.$gray-300;
                border: 1px solid styles.$gray-700;
              }
              input {
                display: block;
                flex: 1 1 0%;
                width: 100%;
                padding-inline: 0.5rem;
                color: var(--color-dark);
                min-width: 0;
                border-top-right-radius: 0.5rem /* 8px */;
                border-bottom-right-radius: 0.5rem /* 8px */;
                font-size: 0.875rem /* 14px */;
                line-height: 1.25rem /* 20px */;
                background: #fff;
                // className="rounded-none rounded-r-lg bg-gray-50 border text-[#194253] block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeHolder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-[#368299]-500  focus:outline-none focus:border-[#368299]-400
              }
              div {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                justify-content: center;
                font-size: 0.875rem /* 14px */;
                line-height: 1.25rem /* 20px */;
                margin-right: 0.75rem /* 12px */;
              }
            }
          }
        }
      }
      button {
        width: 100%;
        background: styles.$purple;
        cursor: pointer;
        color: #fff;
        transition: ease-in 0.5s;
        border-radius: 0.5rem;

        // w-full  bg-purple  hover:bg-purple text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500
      }
    }
  }
  &__footer {
    background: transparent;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 30;

    div {
      div {
        img {
          object-fit: cover;
          margin: 0 auto;
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.75rem;
        }
      }
    }
  }
  &__svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
