  @use '../../../../../styles/globals';
  @use '../../../../../styles/utils';
  @use '../../../../../styles/components';
  @use '../../../styles/mixins';
  
  
  .contact {
      background: url(/assets/images/shapes/benefit-circle-1-1.png), no-repeat url('/assets/images/shapes/about-6-bg-c-1.png') 100% -10%;
      background-repeat: no-repeat;
      opacity: 1;
      transition: .3s, border-radius .3s, opacity .3s;
      height: 100%;
      width: 100%;
      background-color: var(--secondary-color);
      // filter: contrast(0.9);

      &__heading {
          @include mixins.heading(60);
          color: var(--main-text-color);
      }

      &__content {

          &--text {
              margin: 0;
              margin-top: -10px;
              color: var(--main-text-color)
          }

          &--socials {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              margin-top: 30px;

              a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 41px;
                  height: 41px;
                  background-color: var(--secondary-color);
                  color: var(--secondary-text-color);
                  font-size: 12px;
                  transition: all .5s ease;
                  border-radius: 50%;

                  &+a {
                      margin-left: 10px
                  }

                  &:hover {
                      background-color: var(--primary-color);
                      color: #fff
                  }
              }

          }
      }



      #{&}__form {
          margin: 1rem auto;
          text-align: center;
          margin-bottom: 3rem;


          &--box {
              // @include globals.breakPointsUp(map-get(globals.$screenBreakPoints,"sm")){
              //                 display: block;

              //                 } 
              .form-group {
                  position: relative;
                  margin-bottom: 20px
              }

              .form-group label {
                  margin-bottom: 7px;
                  color: var(--main-text-color);
                  font-weight: 400;

                  input {
                      border-radius: .5rem;
                  }
              }

              .form-group i {
                  position: absolute;
                  right: 30px;
                  top: 62px;
                  pointer-events: none;
                  font-size: 12px
              }

              textarea {
                  height: 170px;
                  padding-top: 20px;

                  &::placeholder {
                      color: var(--secondary-text-color)
                  }
              }

              button[type="submit"] {
                  align-self: flex-end
              }

          }
      }


  }