input{
    width: 100%;
}
.input-sm{
width: 100%;
height:.5rem ;
}
.input-md{
width: 100%;
height:.8rem ;
}
.input-lg{
width: 100%;
height:1rem ;
}

.form-control:focus {
    box-shadow: none;
    background-color: var(--background-color);
    border: 0
}
.form-control,form input[type=text],form input[type=email],form input[type=number],form select,form textarea {
    display: block;
    width: 100%;
    background-color: var(--background-color);
    color: var( --secondary-text-color2);
    font-size: 14px;
    // height: 60px;
    padding: 5px 10px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 10px 30px
}

.small-input{
    width: 100%;
        padding: .25rem;
}
.md-input{
    width: 100%;
        padding: .45rem;

}
.lg-input{
width: 100%;
padding: .75rem;

}

