@use '../globals';

table,.table{
padding: 2rem;
table-layout: auto;
width:100%;

thead,tbody,th,tfoot,td,tr{
    padding: auto;
}

td,th{
   text-wrap: wrap;
   text-overflow: ellipsis;
   padding: globals.$basePadding * 1.5;

}
tbody{
tr{
   
    &:hover{
        background: #00000026;
    }
}}
&.table__scrollable{}
&.table__stripped{

    tbody tr:nth-child(even){
        background-color: var(--color-info-variant);
    }
    tbody tr:nth-child(odd){
        background-color: var(--color-light);
    }
}
// #{&}__responsive{}

&.table__responsive{
overflow: auto;
scroll-behavior: smooth;

&::-webkit-scrollbar{
  width: 10px;
    height: 20px;
}
&::-webkit-scrollbar-thumb{
    border-radius: 100vh;
        background: #f7f4ed;
}
&::-webkit-scrollbar-thumb:hover{
    background: #c0a0b9;
        width: 15px;
}
&::-webkit-scrollbar-track{
    background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
}
}
&.table__bordered{   
border: 1px solid var(--color-dark);
border-collapse: collapse;

thead,
    tbody,
    th,
    tfoot,
    td,
    tr {
        border: 1px solid var(--color-dark);
    }

}
}




