.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
  width: 15px;
}
.p-auto {
  padding: auto;
}
.px-auto {
  padding: 0 auto;
}
.py-auto {
  padding: auto 0;
}

.m-auto {
  margin: auto auto;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

// TEXT CLAMP

.s-card {
  height: 8rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* text-align: center; */
  word-spacing: 2px;
  color: black;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.s-card-6 {
  height: 8rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* text-align: center; */
  word-spacing: 2px;
  color: black;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.s-card-7 {
  height: 8rem;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* text-align: center; */
  word-spacing: 2px;
  color: black;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.s-card-9 {
  height: 8rem;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  /* text-align: center; */
  word-spacing: 2px;
  color: black;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.s-card-10 {
  height: 8rem;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  /* text-align: center; */
  word-spacing: 2px;
  color: black;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.input-group {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
}

.iput-group input,
.input-group textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
