  @mixin heading($size: null) {
      font-size: 4rem;
      font-weight: 900;
      display: flex;
      width: 100%;
      place-content: center;
      align-items: center;

      margin-bottom: 5rem;

      &::before,
      &::after {
          content: '||';
          margin-inline: .4rem;
          color: var(--primary-color);
          font-size: 1rem;
          // font-weight: 800;
      }

      span {
          color: var(--primary-color);
          margin-inline: .8rem;
      }
  }