@use '../../../../../styles';
@use '../../../../app/(home)/styles/mixins';

.home {
    @include styles.flexCenter;
    width: 100%;
    height: calc(100vh - styles.pxToRem(50));
    // overflow: hidden;
    position: relative;

    @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
        padding-inline: 3%;
        height: auto;
    }

    #{&}__container {
        // display: grid;
        align-items: center;
        justify-content: center;


        &--background {
            width: 194px;
            height: 189px;
            background-image: url('/assets/images/shapes/about-4-dot-1.png');
            background-repeat: no-repeat;
            background-position: top center;
            position: absolute;
            top: - styles.pxToRem(25);
            right: - styles.pxToRem(100);


            @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                width: 134px;
                height: 129px;
                position: absolute;
                top: - styles.pxToRem(35);
                right: - styles.pxToRem(70);
            }
        }

        &::before {
            position: absolute;
            content: '';
            height: styles.pxToRem(600);
            width: styles.pxToRem(600);
            border-radius: 50%;
            left: -12%;
            top: 40%;
            background: linear-gradient(45deg, var(--primary-color), pink);
            animation: object1 6s linear infinite;



            @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "lg")) {
                left: -13%;
                top: 55%;
                height: styles.pxToRem(400);
                width: styles.pxToRem(400);

                @keyframes object1 {
                    50% {
                        left: -13%;
                        top: 50%;
                    }
                }
            }

            @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                left: -13%;
                top: 20%;
                height: styles.pxToRem(200);
                width: styles.pxToRem(200);

                @keyframes object1 {
                    50% {
                        left: -13%;
                        top: 40%;
                    }
                }

            }

        }

        &::after {
            position: absolute;
            content: '';
            height: styles.pxToRem(200);
            width: styles.pxToRem(200);
            border-radius: 50%;
            left: 27%;
            top: 0;
            background: linear-gradient(45deg, var(--primary-color), pink);
            animation: object2 6s linear infinite;

            @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "lg")) {
                left: 45%;
                top: 5%;
                height: styles.pxToRem(150);
                width: styles.pxToRem(150);

                @keyframes object2 {
                    50% {
                        left: 65%;
                        top: 10%;
                    }
                }
            }

            @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {

                left: 35%;
                top: 1%;
                height: styles.pxToRem(70);
                width: styles.pxToRem(70);

                @keyframes object2 {
                    50% {
                        left: 45%;
                        top: 4.5%;
                    }
                }

            }

        }

        @keyframes object1 {
            50% {
                left: -13%;
                top: 31%;
            }
        }

        @keyframes object2 {
            50% {
                left: 32%;
                top: 8%;
            }
        }

        &--intro {
            display: grid;
            align-items: center;
            position: relative;
            z-index: 5;
            // @include styles.breakPointsUp(map-get(styles.$screenBreakPoints,"xs")) {
            //     margin-top: 20%;

            // }


            @include styles.breakPointsUp(styles.pxToRem(375)) {
                margin-top: 3.5rem;
            }

            @include styles.breakPointsDown(styles.pxToRem(375)) {
                margin-top: 3rem;
            }

            &__topline {
                display: block;
                position: relative;
                font-size: styles.pxToRem(24);
                letter-spacing: styles.pxToRem(5);
                color: var(--color-dark);


                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "lg")) {
                    font-size: styles.pxToRem(26);
                    letter-spacing: styles.pxToRem(4);

                }

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                    font-size: styles.pxToRem(16);
                    letter-spacing: styles.pxToRem(3);

                }

                &::after {
                    position: absolute;
                    content: '';
                    height: styles.pxToRem(4);
                    width: styles.pxToRem(45);
                    bottom: styles.pxToRem(10);
                    background-color: var(--primary-color);

                    @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "lg")) {
                        height: styles.pxToRem(3);
                        width: styles.pxToRem(33.3);
                        bottom: styles.pxToRem(7);

                    }

                    @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                        height: styles.pxToRem(2);
                        width: styles.pxToRem(22.3);
                        bottom: styles.pxToRem(5);

                    }

                }
            }

            h1 {
                display: block;
                font-size: clamp(2.5rem, 3rem - 2vw, 4rem);
                font-weight: styles.fontWeight("bold-sm");
                color: var(--color-dark);

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "lg")) {
                    font-size: clamp(2.5rem, 2.4rem - 2vw, 3rem);
                }

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                    font-size: clamp(1.8rem, 1.8rem - 2vw, 2rem);
                }

            }


            &__multi-text {
                text-transform: capitalize;
                font-size: inherit;
                color: var(--primary-color) !important;


            }

            &__bio {
                display: block;
                width: 100%;
                font-size: 1rem;
                color: var(--color-dark);

                @include styles.breakPointsUp(map-get(styles.$screenBreakPoints, "xs")) {
                    width: 100%;
                    text-align: justify;
                    font-size: styles.pxToRem(16);
                }

                @include styles.breakPointsUp(map-get(styles.$screenBreakPoints, "md")) {
                    text-align: left;
                    // font-size: styles.pxToRem(16);
                }
            }

            &__btn {
                width: 100%;
                display: flex;
                position: relative;
                left: styles.pxToRem(80);


                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "lg")) {
                    left: styles.pxToRem(5)
                }

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                    left: 0;
                }

            }

            .btn {
                outline: none;
                border: none;
                cursor: pointer;
                font-size: styles.pxToRem(14);
                font-weight: styles.fontWeight("normal");
                color: #fff;
                background-color: var(--color-background-2);
                // padding: styles.pxToRem(8) styles.pxToRem(14);
                margin: styles.pxToRem(40) styles.pxToRem(5);
                letter-spacing: styles.pxToRem(2);
                text-transform: capitalize;
                box-shadow: 0 styles.pxToRem(15) styles.pxToRem(10) rgba(0, 0, 0, 0.4);

                &:hover {
                    background-color: var(--primary-color);
                }

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                    font-size: styles.pxToRem(16);
                    // padding: styles.pxToRem(4) styles.pxToRem(2);
                    margin: styles.pxToRem(10) styles.pxToRem(2.5);
                    letter-spacing: styles.pxToRem(1.5);
                    box-shadow: 0 styles.pxToRem(12) styles.pxToRem(8) rgba(0, 0, 0, 0.4);

                }
            }
        }

        &--image {
            position: relative;
            width: 100%;
            height: 100%;

            // background: linear-gradient(to top,hsl(216, 26%, 96%), hsla(216, 26%, 96%, 0.371), transparent);
            @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                margin-top: 5rem;

                @keyframes animateUser {
                    50% {
                        right: styles.pxToRem(20);
                        top: - styles.pxToRem(60);
                    }
                }

                @keyframes animate {
                    50% {
                        top: 55%;
                        left: 51%;
                        width: 155%;
                    }
                }
            }

            img {
                position: relative;
                width: calc(120% - styles.pxToRem(80));
                height: 100%;
                top: - styles.pxToRem(10);
                right: styles.pxToRem(50);
                animation: animateUser 4s linear infinite;

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                    top: - styles.pxToRem(30);
                    animation: animateUser 4s linear infinite;

                }

            }

            @keyframes animateUser {
                50% {
                    right: styles.pxToRem(30);
                    top: - styles.pxToRem(50);
                }
            }

            //  rotate(-35deg)
            #splash {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 160%;
                filter: saturate(200%);
                animation: animate 4s linear infinite;

                @include styles.breakPointsDown(map-get(styles.$screenBreakPoints, "md")) {
                    position: absolute;
                    top: 60%;
                    width: 160%;
                    animation: animate 4s linear infinite;

                }

            }

            @keyframes animate {
                50% {
                    top: 45%;
                    left: 51%;
                    width: 155%;
                }
            }
        }
    }
}