@use '../../../../../styles/globals';
@use '../../../../../styles/utils';
@use '../../../../../styles/components';
@use '../../../../app/(home)/styles/mixins';

.home {
    @include globals.flexCenter;
    width: 100%;
    height: calc(100vh - utils.pxToRem(80));
    // overflow: hidden;
    position: relative;

    @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
        padding-inline: 3%;
        height: auto;
    }

    #{&}__container {
        // display: grid;
        align-items: center;
        justify-content: center;


        &--background {
            width: 194px;
            height: 189px;
            background-image: url('/assets/images/shapes/about-4-dot-1.png');
            background-repeat: no-repeat;
            background-position: top center;
            position: absolute;
            top: - utils.pxToRem(25);
            right: - utils.pxToRem(100);


            @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                width: 134px;
                height: 129px;
                position: absolute;
                top: - utils.pxToRem(35);
                right: - utils.pxToRem(70);
            }
        }

        &::before {
            position: absolute;
            content: '';
            height: utils.pxToRem(600);
            width: utils.pxToRem(600);
            border-radius: 50%;
            left: -12%;
            top: 40%;
            background: linear-gradient(45deg, var(--primary-color), pink);
            animation: object1 6s linear infinite;



            @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "lg")) {
                left: -13%;
                top: 55%;
                height: utils.pxToRem(400);
                width: utils.pxToRem(400);

                @keyframes object1 {
                    50% {
                        left: -13%;
                        top: 50%;
                    }
                }
            }

            @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                left: -13%;
                top: 20%;
                height: utils.pxToRem(200);
                width: utils.pxToRem(200);

                @keyframes object1 {
                    50% {
                        left: -13%;
                        top: 40%;
                    }
                }

            }

        }

        &::after {
            position: absolute;
            content: '';
            height: utils.pxToRem(200);
            width: utils.pxToRem(200);
            border-radius: 50%;
            left: 27%;
            top: 0;
            background: linear-gradient(45deg, var(--primary-color), pink);
            animation: object2 6s linear infinite;

            @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "lg")) {
                left: 45%;
                top: 5%;
                height: utils.pxToRem(150);
                width: utils.pxToRem(150);

                @keyframes object2 {
                    50% {
                        left: 65%;
                        top: 10%;
                    }
                }
            }

            @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {

                left: 35%;
                top: 1%;
                height: utils.pxToRem(70);
                width: utils.pxToRem(70);

                @keyframes object2 {
                    50% {
                        left: 45%;
                        top: 4.5%;
                    }
                }

            }

        }

        @keyframes object1 {
            50% {
                left: -13%;
                top: 31%;
            }
        }

        @keyframes object2 {
            50% {
                left: 32%;
                top: 8%;
            }
        }

        &--intro {
            display: grid;
            align-items: center;
            position: relative;
            z-index: 5;
            // @include globals.breakPointsUp(map-get(globals.$screenBreakPoints,"xs")) {
            //     margin-top: 20%;

            // }


            @include globals.breakPointsUp(utils.pxToRem(375)) {
                margin-top: 3.5rem;
            }

            @include globals.breakPointsDown(utils.pxToRem(375)) {
                margin-top: 3rem;
            }

            &__topline {
                display: block;
                position: relative;
                font-size: utils.pxToRem(35);
                letter-spacing: utils.pxToRem(5);
                color: var(--color-dark);


                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "lg")) {
                    font-size: utils.pxToRem(26);
                    letter-spacing: utils.pxToRem(4);

                }

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                    font-size: utils.pxToRem(16);
                    letter-spacing: utils.pxToRem(3);

                }

                &::after {
                    position: absolute;
                    content: '';
                    height: utils.pxToRem(4);
                    width: utils.pxToRem(45);
                    bottom: utils.pxToRem(10);
                    background-color: var(--primary-color);

                    @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "lg")) {
                        height: utils.pxToRem(3);
                        width: utils.pxToRem(33.3);
                        bottom: utils.pxToRem(7);

                    }

                    @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                        height: utils.pxToRem(2);
                        width: utils.pxToRem(22.3);
                        bottom: utils.pxToRem(5);

                    }

                }
            }

            h1 {
                display: block;
                font-size: clamp(3.5rem, 3.5rem - 2vw, 6rem);
                font-weight: utils.fontWeight("bold-sm");
                color: var(--color-dark);

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "lg")) {
                    font-size: clamp(2.5rem, 2.4rem - 2vw, 3rem);
                }

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                    font-size: clamp(1.8rem, 1.8rem - 2vw, 2rem);
                }

            }


            &__multi-text span span {
                text-transform: capitalize;
                color: var(--primary-color) !important;


            }

            &__bio {
                display: block;
                width: 100%;
                font-size: 1rem;
                color: var(--color-dark);

                @include globals.breakPointsUp(map-get(globals.$screenBreakPoints, "xs")) {
                    width: 100%;
                    text-align: justify;
                    font-size: utils.pxToRem(16);
                }

                @include globals.breakPointsUp(map-get(globals.$screenBreakPoints, "md")) {
                    text-align: left;
                    // font-size: utils.pxToRem(16);
                }
            }

            &__btn {
                width: 100%;
                display: flex;
                position: relative;
                left: utils.pxToRem(80);


                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "lg")) {
                    left: utils.pxToRem(5)
                }

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                    left: 0;
                }

            }

            .btn {
                outline: none;
                border: none;
                cursor: pointer;
                font-size: utils.pxToRem(16);
                font-weight: utils.fontWeight("normal");
                color: #fff;
                background-color: var(--color-background-2);
                // padding: utils.pxToRem(8) utils.pxToRem(14);
                margin: utils.pxToRem(40) utils.pxToRem(5);
                letter-spacing: utils.pxToRem(2);
                text-transform: capitalize;
                box-shadow: 0 utils.pxToRem(15) utils.pxToRem(10) rgba(0, 0, 0, 0.4);

                &:hover {
                    background-color: var(--primary-color);
                }

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                    font-size: utils.pxToRem(16);
                    // padding: utils.pxToRem(4) utils.pxToRem(2);
                    margin: utils.pxToRem(10) utils.pxToRem(2.5);
                    letter-spacing: utils.pxToRem(1.5);
                    box-shadow: 0 utils.pxToRem(12) utils.pxToRem(8) rgba(0, 0, 0, 0.4);

                }
            }
        }

        &--image {
            position: relative;
            width: 100%;
            height: 100%;

            // background: linear-gradient(to top,hsl(216, 26%, 96%), hsla(216, 26%, 96%, 0.371), transparent);
            @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                margin-top: 5rem;

                @keyframes animateUser {
                    50% {
                        right: utils.pxToRem(20);
                        top: - utils.pxToRem(60);
                    }
                }

                @keyframes animate {
                    50% {
                        top: 55%;
                        left: 51%;
                        width: 155%;
                    }
                }
            }

            img {
                position: relative;
                width: calc(120% - utils.pxToRem(80));
                height: 100%;
                top: - utils.pxToRem(10);
                right: utils.pxToRem(50);
                animation: animateUser 4s linear infinite;

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                    top: - utils.pxToRem(30);
                    animation: animateUser 4s linear infinite;

                }

            }

            @keyframes animateUser {
                50% {
                    right: utils.pxToRem(30);
                    top: - utils.pxToRem(50);
                }
            }

            //  rotate(-35deg)
            #splash {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 160%;
                filter: saturate(200%);
                animation: animate 4s linear infinite;

                @include globals.breakPointsDown(map-get(globals.$screenBreakPoints, "md")) {
                    position: absolute;
                    top: 60%;
                    width: 160%;
                    animation: animate 4s linear infinite;

                }

            }

            @keyframes animate {
                50% {
                    top: 45%;
                    left: 51%;
                    width: 155%;
                }
            }
        }
    }
}